* {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

a { 
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgba(141, 140, 140, 0.534);
  position: fixed;
  z-index: 10;
}

.header-left {
  display: inline-block;
  height: 60px;
  padding: 15px;
  color: white;
  opacity: 0.8;
}

.header-right {
  float: right;
  height: 60px;
  line-height: 60px;
  margin-right: 60px;
  font-size: 12px;
}

.btn {
  color: #67c5ff;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  border: solid 2px #67c5ff;
  transition: 1s;
  text-shadow: 2px 2px 3px #67c5ff;
}

.twitter:hover {
  background: #67c5ff;
  padding: 18px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
}

.top-wrapper img {
  min-width: 100%;
}

.top-image { 
  background: url(img/image13.png) no-repeat;
  background-size: contain;
  background-position: center; 
  background-color: black;
  height: 30.3vw;
}

.top-wrapper img:hover {
  opacity: 0;
}

.top-image img {
  transition-property: opacity;
  transition-duration: 1.5s;
}

.main-wrapper img {
  width: 100%;
}

.top-image:hover {
  transition-delay: 2s;
  transform: translateX(100%);
  transition-duration: 1s;
}


.image-1 { 
  background: url(img/image14.png) no-repeat;
  background-size: cover;
  
}

.image-2 { 
  background: url(img/image18.png) no-repeat;
  background-size: cover; 
}

.image-3 { 
  background: url(img/image03.png) no-repeat;
  background-size: cover;
}

.image:hover {
  opacity: 0;
}
.image {
  transition-property: opacity;
  transition-duration: 1.5s;
}

.top-img {
  background: url(img/image01.png) no-repeat;
  background-color: black;
  background-position: center;
}

.main-wrapper h2 {
  width: 98%;
  height: 50px;
  padding: 10px; 
  margin-bottom: 15px;
  border-bottom: 2px solid #dbdbdb;
}

footer {
  height: 50px;
  width: 98%;
  margin-top: 50px;
  padding: 12px;
  border-top: 2px solid #dbdbdb;
  text-align: center;
}

.image-1:hover {
  transition-delay: 2s;
  transform: translateX(-100%);
  transition-duration: 1s;
}

.image-2:hover {
  transition-delay: 2s;
  transform: translateX(100%);
  transition-duration: 1s;
}

.image-3:hover {
  transition-delay: 2s;
  transform: translateX(-100%);
  transition-duration: 1s;
}

.img-first {
  background: url(img/image04.png) repeat;
}

.img-second {
  background: url(img/image02.png) repeat;
}

.img-third {
  background: url(img/img-05.png);
  background-size: cover;
}
